
.section {
    background-color: var(--color-white-primary);
    padding: 120px 108px;
    color: var(--color-white-primary);
}

.section_container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--color-blue-tertiary);
    padding: 80px 210px;
    overflow: hidden;
}

.section_container p {
    margin-bottom: 22px;
}

.section_container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('/images/graphs-bottom.png') no-repeat;
}

.section_container::before {
    content: '';
    position: absolute;
    top: 0;
    right: -42%;
    width: 100%;
    height: 100%;
    background: url('/images/graphs-top.png') no-repeat;
}

@media screen and (max-width: 1292px) {

    .section_container::after {
        content: '';
        position: absolute;
        top: 64px;
        left: -84px;
        width: 34%;
        height: 100%;
        background: url('/images/graphs-bottom.png') no-repeat;
    }
}

@media screen and (max-width: 1030px) {

    .section_container::after {
        content: '';
        position: absolute;
        top: 201px;
        left: -76px;
        width: 34%;
        height: 100%;
        background: url('/images/graphs-bottom.png') no-repeat;
    }
}

@media screen and (max-width: 963px) {

    .section_container::after {
        content: '';
        position: absolute;
        top: 261px;
        left: -76px;
        width: 34%;
        height: 100%;
        background: url('/images/graphs-bottom.png') no-repeat;
    }
}

@media screen and (max-width: 768px)  {
    .section {
        padding: 120px 16px;
    }

    .section_container {
        padding: 80px 16px;
    }
    .section_container::after {
        content: '';
        position: absolute;
        top: 64px;
        left: -84px;
        width: 34%;
        height: 100%;
        background: url('/images/graphs-bottom.png') no-repeat;
}

@media screen and (max-width: 460px) {

    .section_container::after {
        content: '';
        position: absolute;
        top: 274px;
        left: -92px;
        width: 100%;
        height: 100%;
        background: url('/images/graphs-bottom.png') no-repeat;
    }
}
}